<section class="container">
    <div id="imagem-login">
        <img src="/assets/computador-estudante.svg" alt="Computador e Estudante">
    </div>

    <div class="container-campos">
        <div class="info-login">
            <h1>Cadastre sua conta</h1>
        </div>     
        <app-spinner-overlay *ngIf="spinnerService.visibility | async" overlay="true"></app-spinner-overlay>
        <form [formGroup]="registerForm" class="form-login-cadastro">
            <div class="container-inputs">
                <div>
                    <mat-form-field id="campo-matricula" appearance="outline">
                        <mat-label>Nome</mat-label>
                        <input
                            matInput 
                            type="text" 
                            formControlName="name"
                            maxlength="100">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field id="campo-matricula" appearance="outline">
                        <mat-label>RA / Matrícula</mat-label>
                        <input
                            matInput 
                            type="text" 
                            formControlName="registration">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field id="campo-email" appearance="outline">
                        <mat-label>Email</mat-label>
                        <input matInput type="text" formControlName="email">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field id="campo-senha" appearance="outline" >
                        <mat-label>Senha</mat-label>
                        <input matInput [type]="hide ? 'password' : 'text'" formControlName="password" minlength="5" maxlength="20">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field id="campo-senha" appearance="outline" >
                        <mat-label>Confirme sua senha</mat-label>
                        <input matInput type="password" formControlName="passwordConfirmation" minlength="5" maxlength="20">
                    </mat-form-field>
                </div>
                <div>
                    <mat-form-field id="campo-tags" appearance="outline">
                        <mat-label>Suas habilidades</mat-label>
                        <mat-chip-list #chipList aria-label="Tech Selection" formControlName="techs">
                            <mat-chip *ngFor="let tech of techs" (removed)="remove(tech)">
                                {{tech.name}}
                                <button matChipRemove>
                                <mat-icon>cancel</mat-icon>
                                </button>
                            </mat-chip>
                            <input placeholder="Adiciona uma habilidade..."
                                [matChipInputFor]="chipList"
                                [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                [matChipInputAddOnBlur]="addOnBlur"
                                (matChipInputTokenEnd)="add($event)"
                                >
                        </mat-chip-list>
                    </mat-form-field> 
                </div>
                <div style="margin-bottom: 1em;">
                    <mat-checkbox color="primary" (change)="hide = !hide">Mostrar senha</mat-checkbox>
                </div>
                <div>  
                    <button type="button" mat-flat-button color="primary" id="botao-cadastrar" [disabled]="!registerForm.valid || isLoading" (click)="submitRegister()">CADASTRE-SE</button>
                    <p id="paragrafo-pagina-login">Já tem uma conta?<button type="button" mat-stroked-button color="primary" id="botao-pagina-login" routerLink="/login">FAÇA O LOGIN</button></p>
                </div>
                <div class="msg-warning" *ngIf="passwordsValidator">
                    <mat-icon class="">warning</mat-icon>
                    <span>As senhas não combinam. Tente novamente!</span>
                </div>
            </div> 
        </form>
    </div>
</section>
<section>
    <router-outlet></router-outlet>
</section>